#Dernière mise a jour :
#Sun Apr 17 17:02:38 CEST 2022
ptfFileName=CptfTransactions.json
ptfFileBackup=C\:\\Developpement\\CryptoCurrency\\CryptoPtf\\Data\\ptf\\Backup\\
stockPriceIndex=INDEX_STOCK.json
ptfFile=C\:\\Developpement\\CryptoCurrency\\CryptoPtf\\Data\\ptf\\
stockPriceExtension=.json
stock=C\:\\Developpement\\CryptoCurrency\\CryptoPtf\\Data\\StockPrice\\
stockPrice=C\:\\Developpement\\CryptoCurrency\\CryptoPtf\\Data\\StockPrice\\
ptfUpdateFile=C\:\\Users\\chris\\Downloads\\
